<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="">eBlood Bank</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
    
                <li class="nav-item">
                    <a class="nav-link" routerLink=""  routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}" >Home</a>
                </li>
        
                <li class="nav-item">
                    <a class="nav-link" routerLink="donate" routerLinkActive="active-link">Contact us</a>
                </li>
                
                        
                <li class="nav-item">
                    <a class="nav-link" routerLink="about" routerLinkActive="active-link">About Us</a>
                </li>
        
                <!-- <li class="nav-item">
                    <a class="nav-link" routerLink="contact" routerLinkActive="active-link">Contact Us</a>
                </li> -->
        
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Other
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">FAQs</a></li>
                        <li><a class="dropdown-item" href="#">Benifits of donation</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Gallery</a></li>
                    </ul>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link" routerLink="adminhome" routerLinkActive="active-link">Admin</a>
                </li>
    
                    
            
            </ul>
            
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
    
                <!-- Button trigger modal -->
            <button type="button" class="btn btn-outline-success " style="margin-left: 10px;" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Login
            </button>
    
            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content ">
                        <div class="modal-header text-center">
                            <h5 class="modal-title w-100 " id="exampleModalLabel" style="color: black;">Login Window</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form >
                                <div class="mb-3">
                                    <label for="exampleInputEmail1" class="form-label" style="color: black;">Email</label>
                                    <input type="text"  class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                                    
                                </div>
                                <div class="mb-3">
                                    <label for="exampleInputPassword1" class="form-label" style="color: black;">Password</label>
                                    <input type="text"  class="form-control" id="exampleInputPassword1">
                                </div>
                                <div class="mb-3">
                                    <button for="exampleInputPassword1" class="form-label" style="color: black;">Admin login</button>
                                    
                                </div>
                
                                            
                            </form>
                        </div>
                        <div class="text-center mb-3 ">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-success" style="margin-left: 10px;">Login</button>
                        </div>
                    </div>
                </div>
            </div>
  
        
        </div>
    </div>
  
    
</nav>