
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h1>Hospital Login</h1>
                    <h6>Please enter registration and password!</h6>
                </div>
                <form [formGroup]="loginForm" (ngSubmit)="login()">
                    
                    <div class="mb-3 mt-3">
                        <label for="HospitalId" class="form-label">Registration no.</label>
                        <input formControlName="HospitalId" type="text" class="form-control" id="HospitalId" aria-describedby="emailHelp">
                        
                        <span class="text-danger" *ngIf="loginForm.controls['HospitalId'].dirty && loginForm.hasError('required','HospitalId')">*Email Id is required</span>
                    </div>
                    <div class="mb-3">
                        <label for="Password" class="form-label">Password</label>
                        <input formControlName="Password" type="password" class="form-control" id="Password">
                        <span class="text-danger" *ngIf="loginForm.controls['Password'].dirty && loginForm.hasError('required','Password')">*Password is required</span>
                    </div>
                    
                    <button type="submit"  [disabled]="!loginForm.valid" class="btn btn-success d-grid mx-auto">Login</button>
                      
                </form>
                <a  routerLink="/hospital-register">New User? Click to signup!</a>
            </div>
        </div>
    </div>
</div>


