<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="">eBlood Bank</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto">
  
          <li class="nav-item">
            <a class="nav-link" routerLink="admin-dash"  routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}" >Admindash</a>
          </li>
  
          <li class="nav-item">
            <a class="nav-link" routerLink="admin-donorlist" routerLinkActive="active-link">Donor list</a>
          </li>
          
                 
          <li class="nav-item">
            <a class="nav-link" routerLink="admin-hospital-list" routerLinkActive="active-link">Hospital list</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="adminreq" routerLinkActive="active-link">Hospital request</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" routerLink="admincamp" routerLinkActive="active-link">Blood Camp</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" routerLink="admin-contact" routerLinkActive="active-link">Customer queries</a>
          </li>
  
         
                
          
        </ul>
          
        
  
              <!-- Button trigger modal -->
        <button type="button" class="btn btn-outline-success " style="margin-left: 10px;" data-bs-toggle="modal" data-bs-target="#exampleModal">
          Login
        </button>
  
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content ">
              <div class="modal-header text-center">
                <h5 class="modal-title w-100 " id="exampleModalLabel" style="color: black;">Login Window</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <form >
                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label" style="color: black;">Email</label>
                    <input type="text"  class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label" style="color: black;">Password</label>
                    <input type="text"  class="form-control" id="exampleInputPassword1">
                  </div>
                  <div class="mb-3">
                    <button for="exampleInputPassword1" class="form-label" style="color: black;">Admin login</button>
                    
                  </div>
      
                                 
              </form>
              </div>
              <div class="text-center mb-3 ">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success" style="margin-left: 10px;">Login</button>
              </div>
            </div>
          </div>
        </div>
  
        
      </div>
    </div>
  
    
</nav>
<!-- <router-outlet></router-outlet> -->