<div>
    <h1> About Us </h1>
</div>
<div class="container-fluid">
    <div class="thefeaturette ">
        <hr class="featurette-divider">
    
        <div class="row featurette ">
            <div class="col-md-7" >
                <h2 class="featurette-heading">History <span class="text-muted">in brief </span></h2>
                <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt ab soluta nesciunt! Modi numquam corrupti aspernatur enim possimus, eum eaque quidem sunt voluptatem labore obcaecati et ullam maxime expedita minus!</p>
            </div>
            <div class="col-md-5">
                <!-- <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg> -->
                <img src="https://www.capecodhealth.org/app/files/public/9919/COVIDBloodDonate_cchn.jpg" style="width: 500px; height: 300px;">
            </div>
        </div>
    
        <hr class="featurette-divider">
    
        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading">Objectives  <span class="text-muted">...</span></h2>
                <p class="lead">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Soluta nobis numquam autem iure, veniam architecto hic voluptate atque inventore maxime quaerat molestiae ratione accusamus eum recusandae adipisci, odio nisi perferendis?</p>
            </div>
            <div class="col-md-5 order-md-1">
                <!-- <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg> -->
                <img src="https://i0.wp.com/images-prod.healthline.com/hlcmsresource/images/News/public-policy/061415_donor_THUMB_LARGE.jpg?w=1155&h=758" style="width: 500px; height: 300px;">
    
            </div>
        </div>
    
        <hr class="featurette-divider">
    
        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">Our partners  <span class="text-muted">....</span></h2>
                <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea, sunt mollitia voluptatibus excepturi voluptates ut. Fuga unde doloribus reprehenderit maxime pariatur! Eos labore quibusdam minima corrupti quia earum magnam illum?</p>
            </div>
            <div class="col-md-5">
                <!-- <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg> -->
                <img src="https://www.ccmhhealth.com/wp-content/uploads/blog-post-template-5-770x510.png" style="height: 300px; width: 500px;">
            </div>
        </div>
    
      <hr class="featurette-divider">
        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading">NGOs   <span class="text-muted">...</span></h2>
                <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam praesentium alias error dolores, consequuntur laudantium animi vero! Magni omnis quam veritatis nisi dicta, veniam ipsam dignissimos beatae laborum, aliquam velit.</p>
            </div>
            <div class="col-md-5 order-md-1">
                <!-- <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg> -->
                <img src="https://www.spjain.org/hubfs/events-images/Blood-Donation-Drive/sp-jain-blood-donation-drive-dubai.jpg" style="width: 500px; height: 300px;">
    
            </div>
        </div>
        <hr class="featurette-divider">
    
        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">Future plans <span class="text-muted">...</span></h2>
            <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime rerum reiciendis delectus dolorum alias amet exercitationem nostrum odio qui magni distinctio expedita iusto debitis maiores eligendi, autem ab minus aperiam.</p>
          </div>
          <div class="col-md-5">
            <!-- <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg> -->
            <img src="https://www.wuga.org/sites/wuga/files/202104/blood_donation.jpg" style="height: 300px; width: 500px;">
          </div>
        </div>
    
        <hr class="featurette-divider">
    
        
    
    </div>
    
    
  
  
</div>
  