<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h1>Admin Login</h1>
                    <h6>Please enter email and password!</h6>
                </div>
                <form [formGroup]="loginForm" (ngSubmit)="login()">
                    
                    <div class="mb-3">
                        <label for="AdminEmail" class="form-label">Email address</label>
                        <input formControlName="AdminEmail" type="email" class="form-control" id="AdminEmail" aria-describedby="emailHelp">
                        
                        <span class="text-danger" *ngIf="loginForm.controls['AdminEmail'].dirty && loginForm.hasError('required','AdminEmail')">*Email Id is required</span>
                    </div>
                    <div class="mb-3">
                        <label for="AdminPassword" class="form-label">Password</label>
                        <input formControlName="AdminPassword" type="password" class="form-control" id="AdminPassword">
                        <span class="text-danger" *ngIf="loginForm.controls['AdminPassword'].dirty && loginForm.hasError('required','AdminPassword')">*Password is required</span>
                    </div>
                    
                    <button type="submit" [disabled]="!loginForm.valid" class="btn btn-primary">Login</button>
                      
                </form>
               
            </div>
        </div>
    </div>
</div>