<nav class="mt-5">
    <ul class="pagination justify-content-center">
      <li class="page-item">
        <a class="page-link" routerLink="/donor-register" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li class="page-item"><a class="page-link" routerLink="/donor-register" >1</a></li>
      <li class="page-item"><a class="page-link" routerLink="/hospital-register" >2</a></li>
      <li class="page-item">
        <a class="page-link" routerLink="/hospital-register" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
</nav>