
.container{
    margin-top: 60px;
    
  
    
}
h1{
    text-align: center;
    margin-bottom: 60px;
}
.lastdiv{
    margin-top: 50px;
    margin-bottom: 50px;
}

i{
    margin-left: 60px;
}

.card{
    
    
    background: linear-gradient(90deg,rgb(199, 252, 168)0%,rgb(134, 252, 242)100%);

}