<div class="container-fluid">
    <div>
        <h1>Admin Dashboard</h1>
    </div>
    
    <div *ngFor="let row of stockData">

      <div>
        <h3>Updated on {{row.date}}</h3>
      </div>
      <div class="row">
    
        <div class="col-sm-3 text-center">
          <div class="card">
            <div class="card-body">
              <h1 class="card-title">A+</h1>
              <p class="card-text">{{row.Ap}}</p>
              
            </div>
          </div>
        </div>
    
        <div class="col-sm-3 text-center">
          <div class="card">
            <div class="card-body">
              <h1 class="card-title">B+</h1>
              <p class="card-text">{{row.Bp}}</p>
              
            </div>
          </div>
        </div>
    
        <div class="col-sm-3 text-center">
            <div class="card">
              <div class="card-body">
                <h1 class="card-title">O+</h1>
                <p class="card-text">{{row.Op}}</p>
                
              </div>
            </div>
        </div>
    
        <div class="col-sm-3 text-center">
            <div class="card">
                <div class="card-body">
                <h1 class="card-title">AB+</h1>
                <p class="card-text">{{row.ABp}}</p>
                
                </div>
            </div>
        </div>
    </div>
    
    <div class="row">
    
        <div class="col-sm-3 text-center">
          <div class="card">
            <div class="card-body">
              <h1 class="card-title">A-</h1>
              <p class="card-text">{{row.An}}</p>
              
            </div>
          </div>
        </div>
    
        <div class="col-sm-3 text-center">
          <div class="card">
            <div class="card-body">
              <h1 class="card-title">B-</h1>
              <p class="card-text">{{row.Bn}}</p>
              
            </div>
          </div>
        </div>
    
        <div class="col-sm-3 text-center">
            <div class="card">
              <div class="card-body">
                <h1 class="card-title">O-</h1>
                <p class="card-text">{{row.On}}</p>
                
              </div>
            </div>
        </div>
    
        <div class="col-sm-3 text-center">
            <div class="card">
                <div class="card-body">
                <h1 class="card-title">AB-</h1>
                <p class="card-text">{{row.ABn}}</p>
                
                </div>
            </div>
        </div>
    </div>
    
    <hr class="featurette-divider">
    
    <div class="row">
    
        <div class="smal col-sm-3 text-center">
          <div class="card">
            <div class="card-body">
              <h1 class="card-title">Total no od donor</h1>
              <p class="card-text">100</p>
              
            </div>
          </div>
        </div>
    
        <div class="smal col-sm-3 text-center">
          <div class="card">
            <div class="card-body">
              <h1 class="card-title">Total Requests</h1>
              <p class="card-text">20</p>
              
            </div>
          </div>
        </div>
    
        <div class="smal col-sm-3 text-center">
            <div class="card">
              <div class="card-body">
                <h1 class="card-title">Approved request</h1>
                <p class="card-text">13</p>
                
              </div>
            </div>
        </div>
    
        <div class="smal col-sm-3 text-center">
            <div class="card">
                <div class="card-body">
                <h1 class="card-title">Total blood units</h1>
                <p class="card-text">300</p>
                
                </div>
            </div>
        </div>
    </div>

    </div>
    
    
    
    
    
    
</div>

<table class="table mt-3">
  <thead>
      <tr>
          <th scope="col">ID</th>
          <th scope="col">Date</th>
          <th scope="col">A+</th>
          <th scope="col">A-</th>
          <th scope="col">B+</th>
          <th scope="col">B-</th>
          <th scope="col">O+</th>
          <th scope="col">O-</th>
          <th scope="col">AB+</th>
          <th scope="col">AB-</th>
          
         
         
          
          

          <th scope="col">Action</th>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor="let row of stockData">
          <td>{{row.id}}</td>
          <td>{{row.date}}</td>
          <td>{{row.Ap}}</td>
          <td>{{row.An}}</td>
          <td>{{row.Bp}}</td>
          <td>{{row.Bn}}</td>
          <td>{{row.Op}}</td>
          <td>{{row.On}}</td>
          <td>{{row.ABp}}</td>
          <td>{{row.ABn}}</td>
          
          
          <td>
            <button (click)="deleteStock(row)" class="btn btn-danger ">Delete</button>
          </td>
      </tr>
  </tbody>
</table>