<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-md-8">
            <div class="card">
                <h1 class="mt-4">Hospital Registration</h1>
    
                <form class="row g-3 justify-content-md-center " [formGroup]="hospitalForm"  (ngSubmit)="onSubmit()" id="formm">
                    
                   
                    <div class="row">
                        
                        <div class="col-md-5 ">
                            <label for="HospitalName" class="form-label">Name of hospital</label>
                            <input type="text" class="form-control" id="HospitalName" formControlName="HospitalName">
                            <div *ngIf="!HospitalName?.valid && (HospitalName?.dirty ||HospitalName?.touched)" class="alert alert-danger">
                                <div [hidden]="!HospitalName?.errors?.['required']">
                                    Hospital Name is required.
                                </div> 
                                <div [hidden]="!HospitalName?.errors?.['pattern']">
                                    Only characters are allowed.
                                </div> 
                                <div [hidden]="!HospitalName?.errors?.['minlength']">
                                    Min length is 5.
                                </div> 
                            </div>
                            
                        </div>

                        
                        <div class="col-md-5 ">
                            <label for="PhoneNo" class="form-label">Hospital mobile no.</label>
                            <input type="text" class="form-control" id="PhoneNo" formControlName="PhoneNo">
                                <div *ngIf="!PhoneNo?.valid && (PhoneNo?.dirty ||PhoneNo?.touched)" class="alert alert-danger">
                                    <div [hidden]="!PhoneNo?.errors?.['required']">
                                        mobile number is required.
                                    </div>
                                    <div [hidden]="!PhoneNo?.errors?.['pattern']">
                                        invalid mobile number.
                                    </div>
                                                    
                                </div>
                            
                        </div>
                
                        
                
                        

                    </div>
                
                    

                    <div class="row">
                        <div class="col-md-5 mt-4">
                            <label for="Email" class="form-label">Hospital email</label>
                            <input type="text" class="form-control" id="Email" formControlName="Email">
                            <div *ngIf="!Email?.valid && (Email?.dirty ||Email?.touched)" class="alert alert-danger">
                                <div [hidden]="!Email?.errors?.['required']">
                                    email is required.
                                </div>
                                <div [hidden]="!Email?.errors?.['pattern']">
                                        Invalid email id
                                </div> 
                                                
                                </div>
                            
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-5 mt-4 ">
                            <label for="HospitalId" class="form-label">Five digit hospital registration no.</label>
                            <input type="text" class="form-control" id="HospitalId" formControlName="HospitalId">
                                <div *ngIf="!HospitalId?.valid && (HospitalId?.dirty ||HospitalId?.touched)" class="alert alert-danger">
                                    <div [hidden]="!HospitalId?.errors?.['required']">
                                        Hospital registration no. is required.
                                    </div>
                                    <div [hidden]="!HospitalId?.errors?.['pattern']">
                                        invalid registration number.
                                    </div>
                                                    
                                </div>
                            
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-5 mt-4">
                            <label for="Address" class="form-label">Address</label>
                            <input type="text" class="form-control" id="Address" formControlName="Address">
                                <div *ngIf="!Address?.valid && (Address?.dirty ||Address?.touched)" class="alert alert-danger">
                                <div [hidden]="!Address?.errors?.['required']">
                                    Address is required.
                                </div>
                                <div [hidden]="!Address?.errors?.['minlength']">
                                    Min length is 3 characters.
                                </div> 
                                <div [hidden]="!Address?.errors?.['maxlength']">
                                        Max length is 25 characters.
                                </div> 
                                
                                                
                                </div>
                            
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-5 mt-4">
                            <label for="State" class="form-label">State</label>
                            <select class="form-select" id="State" formControlName="State">
                            <option selected disabled value="">Choose...</option>
                            <option>Maharashtra</option>
                            <option>Goa</option>
                            
                            
                            </select>
                            <div>
                            
                            </div>
                            <div *ngIf="!State?.valid && (State?.dirty ||State?.touched)" class="alert alert-danger">
                                <div [hidden]="!State?.errors?.['required']">
                                    state is required.
                                </div>                                         
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-5 mt-4">
                            <label for="City" class="form-label">City</label>
                            <select class="form-select" id="City" formControlName="City">
                            <option selected disabled value="">Choose...</option>
                            <option>Pune</option>
                            <option>Mumbai</option>
                            <option>Nagpur</option>
                            <option>Panaji</option>
                            
                            
                            </select>
                            <div>
                            
                            </div>
                            <div *ngIf="!City?.valid && (City?.dirty ||City?.touched)" class="alert alert-danger">
                                <div [hidden]="!City?.errors?.['required']">
                                    city is required.
                                </div>                                         
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-5 mt-4">
                            <label for="Password" class="form-label">Enter Password</label>
                            <input type="password" class="form-control" id="Password" formControlName="Password">
                            <div *ngIf="!Password?.valid && (Password?.dirty ||Password?.touched)" class="alert alert-danger">
                                <div [hidden]="!Password?.errors?.['required']">
                                    Password is required.
                                </div>
                                <div [hidden]="!Password?.errors?.['Password']">
                                        Invalid Password
                                </div> 
                                                
                                </div>
                            
                        </div>

                    </div>
                                
                           
                                                                                
                    
                    <div class="col-3 justify-content-md-center mb-3">
                    <button class="btn btn-primary" [disabled]="!hospitalForm.valid" (click)="postHospitalDetails()" type="submit">Submit</button>
                    </div>
                
                </form>

            </div>
        </div>
    </div>
</div>
<app-pagination></app-pagination>


